body {
  margin: 0;
  font-family: "Pretendard" !important;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1;
  color: #1D1D1D;;
}

p, h3 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pb-8 {
  padding-bottom: 8px;
}

/* 폼 영역 */
.form-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.form-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.title-wrap {
  width: 100%;
}

.title-txt {
  font-size: 30px;
  text-align: center;
}

.title-info {
  font-size: 18px;
}

.ft-form-wrap {
  margin-top: 20px;
  width: 100%;
  border-top: 1px solid #C6C6C6;
}

/* 서브 타이틀 */
.sub-title-area {
  margin-bottom: 40px;
}

.sub-title {
  font-size: 26px;
  margin-top: 0;
}

.sub-title-info-list {
  margin-top: 14px;
  font-size: 17px;
}

/* 콘텐츠 영역 */
.form-contents-wrap {
  margin-top: 20px;
  padding-block: 40px;
  background-color: #F8F8F8;
  padding-inline: 28px;
  border-radius: 8px;
}

/* input */
.input-area {
  display: flex;
  flex-direction: column;
  padding-inline: 30px;
  gap: 20px;
}

.input-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input-sub-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
  margin-block: 12px;
}

.form-input {
  width: 300px;
  padding: 11px;
  border-radius: 6px;
  border: 1px solid #8E8E8E;
  font-size: 16px;
}

.form-input:focus {
  outline: none;
  background-color: #F8F8F8;
}

.form-textarea {
  height: 100px;
  resize: none;
}

.input-sub-wrap .form-label {
  margin-left: 4px;
}

.form-label {
  font-size: 20px;
  font-weight: 600;
}

.arrow-right {
  background-image: url(turn-right.png);
  width: 16px;
  background-size: 16px;
  height: 16px;
  display: block;
}

.label-wrap {
  margin-bottom: 12px;
}

.input-sub-wrap .label-wrap {
  display: flex;
}

.label-caption {
  margin-top: 4px;
  color: #8E8E8E;
}

/* select */
.form-select {
  width: 324px;
}

.input-sub-wrap .form-select {
  margin-bottom: 20px;
  margin-left: 16px;
}

/* radio */
.form-radio {
  font-size: 17px;
}

/* button */
.submit-area {
  margin-top: 20px;
  justify-content: end;
  display: flex;
}

.submit-btn {
  background-color: #8EACDF;
  border-radius: 6px;
  padding: 16px 28px;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #6990D4;
}

/* checkbox */
.form-checkbox-label {
  font-size: 18px;
  margin-bottom: 16px;
}

.input-sub-wrap .form-list-wrap {
  margin-left: 16px;
}

.form-list-wrap {
  display: flex;
  flex-direction: column;
}

.checkbox-pin {
  padding: 2px 8px;
  border-radius: 10px;
}

/* list */
.private-info-list {
  list-style-type: disc;
  list-style-position: inside;
}

.private-info-list li {
  margin-bottom: 8px;
}

/* 개인 정보 수집 */
.private-info-txt {
  line-height: 1.4;
  font-size: 17px;
  background-color: #D9EAFD;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 16px;
}

/* bg */
.bg-skyblue {
  background-color: #D9EAFD;
}

.bg-orange {
  background-color: #FFE9D3;
}

/* submit */
.submit-info {
  display: flex;
  justify-content: end;
  margin-top: 16px;
}