body {
  margin: 0;
  font-family: "Pretendard" !important;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1;
  color: #1D1D1D;;
}

p, h3 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pb-8 {
  padding-bottom: 8px;
}

/* 폼 영역 */
.form-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.form-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.title-wrap {
  width: 100%;
}

.title-txt {
  font-size: 26px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-info {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: normal;
}

.ft-form-wrap {
  margin-top: 20px;
  width: 100%;
  border-top: 1px solid #C6C6C6;
}

/* 서브 타이틀 */
.sub-title-area {
  margin-bottom: 40px;
}

.sub-title {
  font-size: 26px;
  margin-top: 0;
}

.sub-title-info-list {
  margin-top: 14px;
  font-size: 17px;
}

/* 콘텐츠 영역 */
.form-contents-wrap {
  margin-top: 20px;
  padding-block: 40px;
  background-color: #F8F8F8;
  padding-inline: 28px;
  border-radius: 8px;
}

/* input */
.input-area {
  display: flex;
  flex-direction: column;
  padding-inline: 30px;
  gap: 20px;
}

.input-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input-sub-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* margin-left: 20px; */
  margin-bottom: 12px;
}

.form-input {
  width: 360px;
  padding: 11px;
  border-radius: 6px;
  border: 1px solid #8E8E8E;
  font-size: 16px;
  box-sizing: border-box;
}

#past_etc, #current_etc {
  margin-left: 16px;
}

.form-input:focus {
  outline: none;
}

.form-textarea {
  height: 100px;
  resize: none;
}

.input-sub-wrap .form-label {
  margin-left: 4px;
}

.form-label {
  font-size: 20px;
  font-weight: 600;
}

.q-count {
  font-size: 16px;
  color: #079DD9;
}

.arrow-right {
  background-image: url(turn-right.png);
  width: 16px;
  background-size: 16px;
  height: 16px;
  display: block;
}

.label-wrap {
  margin-bottom: 12px;
}

.input-sub-wrap .label-wrap {
  display: flex;
}

.label-caption {
  margin-top: 4px;
  color: #8E8E8E;
  line-height: 1.2;
  letter-spacing: normal;
}

.label-caption span:last-child {
  display: block;
}

/* select */
.input-sub-wrap .form-select {
  margin-bottom: 20px;
  margin-left: 28px;
}

/* radio */
.form-radio {
  font-size: 17px;
}

.form-radio span {
  margin-left: 4px;
}

[type="radio"] {
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  /* transition: border 0.5s ease-in-out; */
  box-shadow: 0 0 0 2px #c5c5c5;
  margin: 0;
}

[type="radio"]:checked {
  background-color: #4eff9b;
  border: 3px solid #F8F8F8;
  box-shadow: 0 0 0 2px #4eff9b;
}

/* button */
.submit-area {
  margin-top: 20px;
  justify-content: end;
  display: flex;
}

.submit-btn {
  background-color: #8EACDF;
  border-radius: 6px;
  padding: 16px 28px;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #6990D4;
}

/* checkbox */
.form-checkbox {
  width: 16px;
  height: 16px;
  margin: 0;
}

.form-checkbox {
  display: none;
}

.form-checkbox + label {
  cursor: pointer;
}

.form-checkbox.form-sub-checkbox {
  display: none;
}

.form-checkbox.form-sub-checkbox + label {
  cursor: pointer;
}

.form-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 2px solid #c5c5c5;
  background-image: url('check_gray.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 18px;
  border-radius: 6px;
  vertical-align: middle;
}

.form-checkbox:checked + label::before {
  content: "";
  background-color: #4eff9b;
  background-image: url('check_white.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 18px;
  border: 2px solid #4eff9b;
}

.form-checkbox.form-sub-checkbox + label > span {
  vertical-align: middle;
  margin-left: 2px;
}

.form-checkbox.form-sub-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 2px solid #c5c5c5;
  background-image: url('check_gray.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 18px;
  border-radius: 100%;
  vertical-align: middle;
}

.form-checkbox.form-sub-checkbox:checked + label::before {
  content: "";
  background-color: #4eff9b;
  background-image: url('check_white.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 18px;
  border: 2px solid #4eff9b;
}

.form-checkbox-label {
  font-size: 18px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  flex-flow: wrap;
}

.input-sub-wrap .form-list-wrap {
  margin-left: 16px;
}

.form-list-wrap {
  display: flex;
  flex-direction: column;
}

.checkbox-pin {
  padding: 2px 8px;
  border-radius: 10px;
  margin-left: 2px;
}

.checkbox-info {
  font-size: 14px;
  margin-left: 4px;
}

.checkbox-item-area {
  display: flex;
}

.checkbox-item {
  display: flex;
  flex-direction: column;
}

.checkbox-item:last-child {
  margin-left: 10px;
}

/* list */
.private-info-list {
  list-style-type: disc;
  list-style-position: inside;
}

.private-info-list li {
  margin-bottom: 8px;
  line-height: 1.2;
  letter-spacing: normal;
}

/* 개인 정보 수집 */
.private-info-txt {
  line-height: 1.4;
  font-size: 17px;
  background-color: #D9EAFD;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 16px;
  letter-spacing: normal;
}

/* bg */
.bg-skyblue {
  background-color: #D9EAFD;
}

.bg-orange {
  background-color: #FFE9D3;
}

.bg-mint {
  background-color: #a7ffcd;
}

.bg-deepblue {
  background: #c7cdff;
}

.bg-pink {
  background-color: #f7d3ff;
}

/* submit */
.submit-info {
  display: flex;
  justify-content: end;
  margin-top: 16px;
}

/* logo */
.logo {
  background: url("logo_01.png");
  width: 150px;
  height: 33px;
  background-size: 150px;
  display: inline-block;
  background-repeat: no-repeat;
}

/* Mobile - Landscape */
@media all and (min-width:320px) and (max-width: 768px) {
  .sub-title-area {
    margin-bottom: 26px;
  }
  .form-main {
    padding: 0;
  }
  .form-area {
    padding: 12px;
    width: 95%;
  }
  .form-contents-wrap {
    padding-inline: 14px;
    padding-block: 20px;
  }
  .form-label {
    font-size: 15px;
  }
  .sub-title {
    font-size: 18px;
  }
  .q-count {
    font-size: 13px;
  }
  .input-wrap {
    flex-flow: wrap;
    flex-direction: column;
  }
  .label-caption {
    font-size: 13px;
  }
  .title-txt {
    font-size: 23px;
  }
  .title-info {
    font-size: 12px;
  }
  .form-input {
    padding: 6px;
    font-size: 13px;
    width: 100%;
  }
  #past_etc, #current_etc {
    width: 80%;
  }
  .form-radio {
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  .input-area {
    padding: 0;
  }
  .input-sub-wrap {
    margin-left: 8px;
    margin-bottom: 0;
  }
  input[type="radio" i] {
    width: 12px;
    height: 12px;
    margin: 0;
    margin-right: 6px;
  }
  input[type="checkbox" i] {
    margin: 0;
    margin-right: 4px;
    width: 10px;
  }
  .form-checkbox-label {
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-flow: wrap;
  }
  .checkbox-pin {
    padding: 6px 6px;
  }
  .private-info-txt {
    font-size: 10px;
  }
  .private-info-list {
    font-size: 10px;
  }
  .submit-info {
    font-size: 12px;
  }
  .submit-btn {
    padding: 12px 25px;
    font-size: 14px;
  }
  .checkbox-info {
    font-size: 13px;
    margin-left: 4px;
  }
  .arrow-right {
    width: 8px;
    background-size: 8px;
    height: 8px;
  }
  .input-sub-wrap .form-select {
    margin-bottom: 0;
    margin-left: 16px;
    width: 80%;
  }
  .input-sub-wrap .checkbox-info {
    margin-top: 8px;
  }
  .logo {
    width: 100px;
    height: 22px;
    background-size: 100px;
  }
  .checkbox-item:last-child {
    margin-left: 4px;
  }
  .label-caption span:last-child {
    display: unset;
  }
  #past_overseas_country {
    margin-left: 14px;
    width: 80%;
    margin-bottom: 12px;
  }
  .form-checkbox.form-sub-checkbox + label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .form-checkbox.form-sub-checkbox + label > span {
    margin-left: 4px;
  }
  .form-list-wrap .form-checkbox-label {
    margin-bottom: 0;
  }
  .form-list-wrap {
    gap: 16px;
  }
}
